/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --text-color-secondary: #FFF;
  --topbar-background: rgba(20, 20, 20, 0.9);
  --topbar-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  --topbar-button: #444;
  --topbar-button-locked: #222;
  --topbar-button-hover: #666;
  --input-background: #222;
  --input-color: #FFF;
}

.light {
  --text-color: black;
  --text-color-secondary: #FFF;
  --topbar-background: rgba(220, 220, 220, 0.9);
  --topbar-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  --topbar-button: rgb(160, 112, 255);
  --topbar-button-locked: rgb(192, 160, 255);
  --topbar-button-hover: rgb(146, 80, 255);
  --input-background: #eee;
  --input-border: #CCC;
  --input-color: #222;
}

#containerLang {
  position: absolute;
  margin: 40px 10% 0 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

#langHeading {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  max-width: 72px;
}

.buttonLang {
  margin-bottom: 6px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.icon-flag.clickable {
  height: 32px;
}

#langDropdown {
  display: none;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2px;
  justify-items: center;
  align-items: center;

  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  transition: all 0.3s;
}

#langDropdown> :first-child {
  background-color: var(--highlight-color);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#profile {
  color: var(--text-color);
}

#title {
  color: var(--text-color);
}

#containerFlipbook {
  margin-bottom: 18px;
  padding: 0px 16px;
}

/* Topbar Container */
#containerTopbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 22px auto 14px;
  width: 70%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.topbarHeading {
  color: var(--text-color);
  font-size: 14px;
}

/* Inner Topbar Layout */
.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  background: var(--topbar-background);
  box-shadow: var(--topbar-box-shadow);
  padding: 8px 16px;
  width: 90%;
  border-radius: 6px;
}

/* Buttons */
.topbar button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--topbar-button);
  color: var(--text-color-secondary);
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.topbar button:hover {
  background: var(--topbar-button-hover);
}

/* Page Number Input */
#pageNumber {
  width: 50px;
  text-align: center;
  padding: 6px;
  font-size: 14px;
  border: 1px solid #777;
  border-radius: 6px;
  background: var(--input-background);
  color: var(--input-color);
  outline: none;
}

#containerDownloadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

#downloadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background: var(--topbar-button);
  color: var(--text-color);
  box-shadow: var(--topbar-box-shadow);
  transition: background 0.3s ease;
}

#downloadButton:hover {
  /* opacity: 0.9; */
  background: var(--topbar-button-hover);
}

#downloadIcon {
  font-size: 18px;
}

#email {
  font-size: 14px;
  gap: 6px;
  margin-bottom: 26px;
}

#social-links {
  padding-top: 0px;
  padding-bottom: 4px;
}

footer {
  color: var(--text-color);
}

@media(min-width: 1450px) {
  #containerLang {
    margin-right: 35%;
  }
}

@media(min-width: 1200px) {
  #container {
    max-width: 1800px;
  }

  #containerLang {
    margin-right: 30%;
  }

  #containerTopbar {
    margin-top: 28px;
    margin-bottom: 20px;
  }

  .topbar {
    width: 80%;
  }
}

@media(max-width: 500px) {
  #containerFlipbook {
    padding: 0px 12px;
  }
}

@media(max-width: 590px) {
  #container {
    padding: 0;
  }

  #containerLang {
    margin-right: 8%;
  }
}

@media(max-width: 400px) {
  #profile img {
    width: 105px;
  }

  #profile p {
    font-size: 14px;
    margin-top: 6px;
  }

  #title {
    font-size: 22px;
  }

  #switch {
    margin: 0 auto;
  }

  #containerLang {
    margin-right: 5%;
  }

  #langHeading {
    font-size: 10px;
  }

  .icon-flag.clickable {
    height: 26px;
  }

  #containerTopbar {
    margin: 20px auto 12px;
  }

  .topbarHeading {
    font-size: 12px;
  }

  .topbar button {
    font-size: 12px;
  }

  #pageNumber {
    width: 40px;
    font-size: 12px;
  }

  #containerFlipbook {
    padding: 0px 6px;
  }
}

/* --- PageFlip touch-action override --- */
/* 
PageFlip locks horizontal scrolling inside the pdf document
which makes zoom-in navigation in smartphones impossible.
This workaround allows for pinch-to-zoom functionality
by overriding the default css rule of PageFlip.
*/

.stf__parent,
.stf__parent * {
  /* Allow both axes panning by default */
  touch-action: pan-x pan-y !important;
  -ms-touch-action: pan-x pan-y !important;

  /* Ensure overflow isn't clipped by the library */
  /* overflow: visible !important; */
  /* -webkit-overflow-scrolling: auto !important; */
}